.table {
  display: table;
  width: 100%;
  /* border-collapse: collapse; */
  border-spacing: 0 12px;
  font-size:14px;

}
.table>.table,.tbody>.tr>.td>span,a,div,i{
  font-weight: 600;
  vertical-align: middle;
}
.thead {
  display: table-header-group;
  border-bottom: 1px solid #ccc;
  background-color: #d9e5f9;
  font-weight: 600;
  vertical-align: middle;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.tbody>.tr:hover{
  background-color: #eef1f6;

}
.tbody .td {
  color: #999999;
}
.td-word{
  max-width:180px;
  line-height: 30px;
  word-wrap:break-word;
}
.tbody .tr {
  border-bottom: 1px solid #ccc;
}

.td {
  display: table-cell;
  text-align: left;
  padding: 10px;
}

table a:not(.btn),
.table a:not(.btn) {
  text-decoration: none;
}
